{{ define "title" }}Seattle Creative Coding Community | {{ .Site.Title }}{{ end }}
{{ define "main" }}
<div id="container" class="homepage">
  <div class="spacer"></div>
  <div class="hero">
    <header class="margined">
      <h1>live<span class="code">code</span>seattle</h1>
    </header>
    <div class="margined" id="summary">{{ .Content }}</div>
    <div class="margined" id="signup"><form><input id="email" type="email" placeholder="email address" aria-placeholder="email address"><input id="submit" type="submit" value="Join Slack"></form></div>
  </div>
  <div class="spacer"></div>
  <div class="content margined">
    <p>More Information Coming Soon!</p>
  </div>
</div>
{{ end }}
{{ define "head" }}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    console.log("Attaching submit listener");
    document.getElementById("submit").addEventListener('click', submitHandler);
    document.getElementById("email").addEventListener('focus', clearError);
  });

  function displayError(e) {
    toggleLock(false);
    var field = document.getElementById("email");
    field.className = "error";
    field.placeholder = e;
    field.value = '';
  }

  function clearError() {
    document.getElementById("email").className = "";
  }

  function toggleLock(value) {
    document.querySelectorAll("input").forEach((e) => {
      e.disabled = value;
    });
  }

  function displaySuccess() {
    var success = document.createElement("div");
    success.className = "success";
    success.innerText = "Your request has been sent."
    var signup = document.getElementById("signup");
    signup.innerHTML = '';
    signup.appendChild(success);
  }

  function sendRequest(url, payload) {
    const PARAMS = {
      headers: {
        "content-type": "application/json; charset=UTF-8"
      },
      body: payload,
      method: "POST"
    };

    return fetch(url, PARAMS);
  }

  function validateEmail(email) {
    if (email.indexOf("@") < 0) {
      return "please enter a valid email address";
    }

    return true;
  }

  function submitHandler(e) {
    const URL = "{{ $.Site.Params.api_endpoint }}";
    console.log(URL); 
    e.preventDefault();
    var email = document.getElementById("email").value;
    if (!email) {
      displayError("email address is required");
      return;
    }
    const VALID = validateEmail(email);
    if (VALID !== true) {
      displayError(VALID);
      return;
    }

    const PAYLOAD = JSON.stringify({
      email
    });
    toggleLock(true);
    sendRequest(URL, PAYLOAD)
      .then(data => data.json())
      .then(res =>{displaySuccess()})
      .catch(e => displayError(e.toString()))
  }
</script>
{{ end }}