{{ define "title" }}Seattle Creative Coding Community | {{ .Site.Title }}{{ end }}
{{ define "main" }}
<div id="container" class="homepage">
  <div class="spacer"></div>
  <div class="hero">
    <header class="margined">
      <h1>live<span class="code">code</span>seattle</h1>
    </header>
    <div class="margined" id="summary">{{ .Content }}</div>
    <div class="margined" id="signup"><form><input id="email" type="email" placeholder="email address" aria-placeholder="email address"><input id="submit" type="submit" value="Join Slack"></form></div>
  </div>
  <div class="spacer"></div>
  <div class="content margined gridded">
    <div id="events">
      <header><h1>Events</h1></header>
      {{ range sort (where (where .Pages "Section" "events") "Date" ">=" now) "Date" "asc" }}
      <p>{{ .Render "short" }}</p>
      {{ end }}
    </div>
    <div id="tools" class="resource">
      <header><h1>Tools</h1></header>
      {{ range $.Site.Data.tools }}
      {{ partial "resource.html" . }}
      {{ end }}
    </div>
    <div id="resources" class="resource">
      <header><h1>Resources</h1></header>
      {{ range $.Site.Data.resources }}
      {{ partial "resource.html" . }}
      {{ end }}
    </div>
    <!--
    <div id="members" class="span">
      <header><h1>Members</h1></header>
      <p>Coming soon</p>
    </div>-->
    <div id="blog" class="span">
      <header><h1>Recent Posts</h1></header>
      {{ range first 5 (where .Pages "Type" "posts") }}
      {{ .Render "landing" }}
      {{ end }}
    </div>
  </div>
  <div class="hero" id="footer">
    <div class="margined content triple">
      <div><header><h1>Meetups</h1></header>
      {{ partial "subnav.html" .Site.Menus.meetups }}
      </div>
      <div class="copyright">all content copyright respective authors</div>
      <div><header><h1>Topics</h1></header>
      {{ partial "subnav.html" .Site.Taxonomies.Topics }}
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ define "head" }}
{{ partial "signupForm.html" . }}
{{ end }}