@import "reset"
@import "colortheory"
$bodyFont: 100% Helvetica, sans-serif

body
  font: $bodyFont

.margined
  margin: auto
  width: auto

h1
  font-family: Georgia, 'Times New Roman', Times, serif
  font-size: 3em

#footer
  font-size: 8pt
  padding: 1.5em 0

  & > .margined
    max-width: 55rem
    display: flex
    justify-items: stretch

    & > div
      margin-right: 1.5rem
      width: 100%

      &:last-of-type
        margin-right: 0

.code
  padding: 0 0.25em
  &::before
    content: "["
  &::after
    content: "]"

@import "landing"
@import "channelGuide"
@import "triple"

.container
  display: grid
  grid-template-rows: auto 1fr auto
  min-height: 100vh

  #content
    width: 55rem
    margin: auto

  & > header, footer
    margin: 0
    background-color: $color1
    color: $color3
    padding: 1.5em
  
    h1
      margin: auto
      width: 55rem

.copyright
  color: $lightgreen
  font-size: 10pt

.subnav
  list-style: none
  margin: 0

#footer header h1
  font: $bodyFont
  font-weight: bold
  padding: 0
  margin: 0

.content header h1
  font-size: 1.5rem

figure
  margin-top: 0.75rem
  margin-bottom: 0.75rem

@import "events"
@import "resource"
@import "blog"