{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}
{{ define "header" }}
<header id="header">
<h1>{{ .Title }}</h1>
</header>
{{ end }}
{{ define "main" }}
{{ partial "content_with_image.html" . }}
{{ end }}
{{ define "footer" }}
<footer id="footer">
<div class="margined metadata">
  <div><p>Posted On: <strong>{{ .Date.Format "2006 Jan 02" }}</strong></p>
  <p>Written By: <strong>
      {{ range .Params.Authors }}
        <a href="{{ "/authors/" | absURL }}{{ . | urlize }}">{{ . }} </a>
      {{ end}}
    </strong></p></div>
  <div>{{ partial "cloud.html" . }}</div>
  {{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ if gt (len $related) 0 }}
  <div>See Also:   
    <strong>
      <ul>
        {{ range $related }}
          <li><a hef="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </strong>
  </div>
  {{ else }}
  <div></div>
  {{ end }}
</div>
</footer>
{{ end }}